<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styl.css">
    <link rel="stylesheet" href="./css/prihlaseni.css">
   
    <script src="app.js"></script>
    <title>Kosik</title>
</head>

<body>
    <header>
        <nav>
            <img id="logo" src="./obrazek/logo.png">
            <ul>
                <li><a href="/#domu">Domů</a></li>
                <li><a href="/#produkty">Produkty</a></li>
                <li><a href="/kosik">Košík</a></li>
                <li><a href="./prihlaseni.html">Přihlášení</a></li>
            </ul>
        </nav>
        
    </header>
      <!-- filtry,.... -->
      <form>
        <label>Minimální cena:</label>
        <input type="number" id="minCena">

        <label>Maximální cena:</label>
        <input type="number" id="maxCena">

        <button type="button" id="filtr">Filtrovat</button><br><br>

        <button type="button" id="razeniNazevVzestupne">Název vzestupně</button>
        <button type="button" id="razeniNazevSestupne">Název sestupně</button>
        <button type="button" id="razeniCenaVzestupne">Cena vzestupně</button>
        <button type="button" id="razeniCenaSestupne">Cena sestupně</button>
    </form>
    
</section>
</body>

</html>